* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
html {
  font-size: 10px;
}
.header {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(78, 96, 199, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(./assets/home-foto.jpg);
}
.header__container {
  text-align: center;
  margin-top: 25vh;
}
.header__title,
.header__subtitle {
  color: #fff;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.header__title {
  font-size: 4.8rem;
}
.header__subtitle {
  font-size: 3.2rem;
}
.about-me {
  background-color: #000;
}
@media (min-width: 769px) {
  .about-me {
    background-color: #fff;
  }
}
.about-me__container {
  padding: 55px 32px;
}
@media (min-width: 769px) {
  .about-me__container {
    padding: inherit;
    margin-top: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about-me__img {
  display: none;
}
@media (min-width: 769px) {
  .about-me__img {
    display: inherit;
    width: 380px;
    height: 480px;
  }
}
.about-me__info-container {
}
@media (min-width: 769px) {
  .about-me__info-container {
    max-width: 610px;
    align-self: flex-start;
  }
}
.about-me__title,
.about-me__info {
  color: #fff;
  margin: 0;
}
@media (min-width: 769px) {
  .about-me__title,
  .about-me__info {
    color: #000;
  }
}
.about-me__title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 46px;
}
@media (min-width: 769px) {
  .about-me__title {
    text-align: left;
  }
}
.about-me__info {
  font-size: 1.6rem;
  margin-bottom: 60px;
}
.services {
  padding: 65px 55px;
  background-color: #fafafa;
}
.services__title {
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}
.services__results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .services__results {
    flex-direction: row;
    justify-content: space-between;
  }
}
.services__item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.services__img {
  width: 148px;
  height: 138px;
  border: solid 3px;
  border-image: linear-gradient(to bottom, rgba(78, 96, 199, 0.52), #75135d) 10%;
  margin-bottom: 18px;
}
.services__item-title {
  font-size: 2.4rem;
  margin: 0 0 7px;
}
.services__item-paragraph {
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}
.contact-index {
  background-color: #000;
}
